.deps
CFILES
include/features.h
include/linker.h
include/mint/sysbind.h
include/mint/trap1.h
include/mint/trap13.h
include/mint/trap14.h
include/syscall-list.h
includepath
mintlib/syscalls.h
sunrpc/rpcgen
sunrpc/rpcinfo
syscall/SRCFILES.traps
syscall/gen-syscall
syscall/pars.h
syscall/syscalls.stmp
tz/tzinit
tz/tzselect
tz/yearistype
tz/zdump
tz/zic
*.o
*.a
*~
*.exe
