.deps
00Patchlevel
CFILES
argp/test-argp
argp/test-argp1
argp/test-argp2
argp/test-bug-argp1
crypt/md5speeds
crypt/speeds
crypt/test-cert
crypt/test-md5_1
crypt/test-md5_2
crypt/test-ufc
dirent/test-list
dirent/test-opendir
dirent/test-seekdir
include/features.h
include/linker.h
include/mint/sysbind.h
include/mint/trap1.h
include/mint/trap13.h
include/mint/trap14.h
include/syscall-list.h
includepath
login/test-utmp
mintlib/syscalls.h
mintlib/test-assert
mintlib/test-assert-perr
mintlib/test-atexit
mintlib/test-ctype
mintlib/test-ctype1
mintlib/test-dirent
mintlib/test-mallocbug
mintlib/test-seekdir
mintlib/test-setjmp
mintlib/test-setjmp1
misc/test-dirname
misc/test-efgcvt
misc/test-fdset
misc/test-tsearch
posix/test-fnmatch
posix/test-getopt
posix/test-glob
posix/test-remove
posix/test-run
posix/test-wordexp
pwdgrp/test-grp
signal/test-signal
signal/test-sigset
socket/test-aton
socket/test-hton
socket/test-ntoa
stdiio/test-iioformat
stdiio/test-iioscanf
stdiio/test-iiowc-printf
stdio/test-bug1
stdio/test-bug10
stdio/test-bug11
stdio/test-bug12
stdio/test-bug2
stdio/test-bug3
stdio/test-bug4
stdio/test-bug5
stdio/test-bug6
stdio/test-bug7
stdio/test-bug8
stdio/test-bug9
stdio/test-doprnt
stdio/test-errnobug
stdio/test-ferror
stdio/test-fformat
stdio/test-fileno
stdio/test-fseek
stdio/test-fwrite
stdio/test-getln
stdio/test-glue
stdio/test-iformat
stdio/test-llformat
stdio/test-obstream
stdio/test-popen
stdio/test-printf
stdio/test-printfsz
stdio/test-rdwr
stdio/test-scanf
stdio/test-scanf1
stdio/test-scanf10
stdio/test-scanf11
stdio/test-scanf12
stdio/test-scanf2
stdio/test-scanf3
stdio/test-scanf4
stdio/test-scanf5
stdio/test-scanf6
stdio/test-scanf7
stdio/test-scanf8
stdio/test-scanf9
stdio/test-stdiomisc
stdio/test-temp
stdio/test-tmpfile
stdio/test-tmpnam
stdio/test-ungetc
stdio/test-wc-printf
stdio/test-xbug
stdlib/test-canon
stdlib/test-canon2
stdlib/test-cc
stdlib/test-div
stdlib/test-mb
stdlib/test-rand
stdlib/test-sort
stdlib/test-strtod
stdlib/test-strtol
string/test-common
string/test-copy
string/test-ffs
string/test-inlcall
string/test-inline
string/test-noinline
string/test-strlen
string/test-svc
string/test-strcmp
sunrpc/rpcgen
sunrpc/rpcinfo
sunrpc/*.stmp
syscall/SRCFILES.traps
syscall/gen-syscall
syscall/pars.h
syscall/syscalls.stmp
syscall/pars.c
syscall/scan.c
syscall/.stmp.pars
time/test-clock
time/test-getdate
time/test-mktime
time/test-posixtz
time/test-strptime
time/test-time
tz/test-dummy
tz/tzinit
tz/tzselect
tz/yearistype
tz/zdump
tz/zic
tz/leapseconds
tz/date
tz/dumpstate
tz/version.h
tz/zdump_for_build
tz/zic_for_build
unix/test-fdset
unix/test-open
unix/test-opendir
unix/test-select
unix/test-stat
unix/test-time
unix/test-utime
unix/test-vfork
*.o
*.a
*~
*.exe
build
